@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>你访问的页面不存在！</title>
    <meta http-equiv=Content-Type content="text/html; charset=gb2312">
    <style type=text/css>
        .font14 {
            FONT-SIZE: 14px;
        }

        .font12 {
            FONT-SIZE: 12px;
        }
    </style>

    <meta content="MSHTML 6.00.2900.3354" name=GENERATOR>
</head>
<body style="width:1000px;margin:auto;">
        <table cellspacing=0 cellpadding=0 style="width: 500px; height: 500px; text-align: center; background: url(/images/yelang.gif); margin-left:25%;" border=0>
            <tbody>
                <tr>
                    <td height=330>&nbsp;</td>
                </tr>
                <tr>
                    <td valign=top>
                        <div class=font14 align=center>
                            <strong>
                                你访问的页面<font color=#0099ff>不存在</font>！
                            </strong>
                            <span class=font12>
                                <font color=#666666>
                                    请仔细检查地址是否正确！
                                </font>
                            </span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
</body>
</html>

