@{
    ViewBag.Title = "字体图标";
}

<div class="panel panel-success">
    <div class="panel-heading">glyphicon glyphicon-</div>
    <div class="panel-body">
        <div class="col-md-1"><span class="glyphicon glyphicon-adjust"></span></div>
        <div class="col-md-1"><span class="glyphicon glyphicon-calendar"></span></div>
        <div class="col-md-1"><span class="glyphicon glyphicon-bishop"></span></div>
        <div class="col-md-1"><span class="glyphicon glyphicon-jpy"></span></div>
        <div class="col-md-1"><span class="glyphicon glyphicon-download"></span></div>
        <div class="col-md-1"><span class="glyphicon glyphicon-paste"></span></div>
        <div class="col-md-1"><span class="glyphicon glyphicon-apple"></span></div>
        <div class="col-md-1"><span class="glyphicon glyphicon-sunglasses"></span></div>
        <div class="col-md-1"><span class="glyphicon glyphicon-print"></span></div>
        <div class="col-md-1"><span class="glyphicon glyphicon-arrow-up"></span></div>
        <div class="col-md-1"><span class="glyphicon glyphicon-export"></span></div>
        <div class="col-md-1"><span class="glyphicon glyphicon-arrow-down"></span></div>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">fa fa-</div>
    <div class="panel-body">
        <div class="col-md-1"><span class="fa fa-caret-right"></span></div>
        <div class="col-md-1"><span class="fa fa-circle"></span></div>
        <div class="col-md-1"><span class="fa fa-angle-double-left"></span></div>
        <div class="col-md-1"><span class="fa fa-bomb"></span></div>
        <div class="col-md-1"><span class="fa fa-building"></span></div>
        <div class="col-md-1"><span class="fa fa-cloud"></span></div>
        <div class="col-md-1"><span class="fa fa-coffee"></span></div>
        <div class="col-md-1"><span class="fa fa-female"></span></div>
        <div class="col-md-1"><span class="fa fa-heart"></span></div>
        <div class="col-md-1"><span class="fa fa-trophy"></span></div>
        <div class="col-md-1"><span class="fa fa-sitemap"></span></div>
        <div class="col-md-1"><span class="fa fa-toggle-on"></span></div>
    </div>
</div>