
@{
    ViewBag.Title = "Excel操作";
}

<div class="btn-group btn-group-sm btn-group-justified">
    <div class="btn-group">
        <a href="/system/DownLoadStudentTemplate" class="btn btn-success">下载模板</a>
    </div>
    <div class="btn-group">
        <a href="/system/ImportStudentData" class="btn btn-info">导入数据</a>
    </div>
    <div class="btn-group">
        <a href="/system/DownLoadStudentData" class="btn btn-danger">单表导出数据</a>
    </div>
</div>

<div class="btn-group btn-group-sm btn-group-justified" style="margin-top:30px;">
    <div class="btn-group">
        <a href="/system/UnionInnerJoinDownload" class="btn btn-warning">联合表内连接导出数据</a>
    </div>
    <div class="btn-group">
        <a href="/system/UnionLeftJoinDownload" class="btn btn-default">联合表左连接导出数据</a>
    </div>
    <div class="btn-group">
        <a href="/system/UnionFullOuterJoinDownload" class="btn btn-primary">联合表全连接导出数据</a>
    </div>
</div>
