@model TestData
@{
    ViewBag.Title = "测试 Mobile 页面";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>test image enhance</title>
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
        html, body {
            margin: 0;
            padding: 0;
        }

        #content {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            /*background-image:url(/images/car003.jpg);*/
            background-repeat: no-repeat;
            background-attachment: fixed;
            -webkit-background-size: cover;
            -o-background-size: cover;
            zoom: 1;
        }

        #son {
            border: 1px solid red;
            margin: 140px auto;
            min-height: 350px;
            width: 600px;
        }

        th, td {
            width: 50%;
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="content">
        <form id="son" action="/system/test" method="post">
            <table class="table table-bordered">
                <tr><th rowspan="3">name</th><th>age</th></tr>
                <tr><td>22</td></tr>
                <tr><td>33</td></tr>
                <tr><td>Name</td><td>@Html.TextBoxFor(m => m.Name, new { @class = "form-control" }).Append(Html.ValidationMessageFor(m => m.Name))</td></tr>
                <tr><td>Code</td><td>@Html.TextBoxFor(m => m.Code, new { @class = "form-control" }).Append(Html.ValidationMessageFor(m => m.Code))</td></tr>
                <tr><td colspan="2">@Html.Submit()</td></tr>
                <tr><td colspan="2">This is from mobile.</td></tr>
            </table>
        </form>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-xs-3">Name:</label>
                <div class="col-xs-6"><input type="text" class="form-control" placeholder="input your name" id="name" name="name"/></div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3">Age:</label>
                <div class="col-xs-6"><input type="number" class="form-control" placeholder="input your age" id="age" name="age" /></div>
            </div>
        </form>
    </div>
</body>
</html>

@section scripts{
    <script type="text/javascript">
        $(function () {
            console.info($("#div1").outerWidth());
            console.info($("#div2").outerWidth(true));
            console.info($("#div3").width());
        })
    </script>
}

