@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div id="app">
            <p v-bind:title="message" v-on:click="vModifyMessage">Multiline message is:</p>
            <p>{{message}}</p>
            <textarea v-model="message"></textarea>
        </div>
    </body>
</html>

<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/vue/2.1.3/vue.js"></script>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data: {
            message: "" 
        },
        methods: {
            vModifyMessage: function () {
                this.messsage = "test_message";
            }
        }
    })
</script>

//问题说明： 点击第一个p标签后，为什么第二个p标签中的内容和文本域textarea中的内容没有变为test_message?